<!DOCTYPE html>
<html>
<head>
	<title>Hello world</title>
</head>
<body>
<h2>My Blog</h2>

<p>
	My Blog Description My Blog Description My Blog Description My Blog Description My Blog Description My Blog Description My Blog Description My Blog Description My Blog Description My Blog Description My Blog Description My Blog Description My Blog Description My Blog Description My Blog Description My Blog Description My Blog Description My Blog Description My Blog Description My Blog Description My Blog Description My Blog Description 	
</p>

<h3> {{article.title}} </h3>
<p>
	
	{{article.content}}
</p>

<a href="/myblog/delete_article/{{article.id}}"><button>Delete</button></a>

</body>
</html>